<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Praias Paradisiacas</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesoeet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
</head>

<body>
    <!--header section start -->
    <div class="header_section">
        <div class="container-fluid">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="index.html">Inicio</a>
                <a href="about.html">Sobre</a>
                <a href="services.html">Serviços</a>
            </div>
            <div class="header_taital_main">
                <span class="toggle_icon" onclick="openNav()"><img src="images/toggle-icon.png"></span>
            

                <h6 class="call_text">
                    <span class="padding_left_10">
                        <a href="">Praias Paradisiacas do Brasil
                    </span></a>
                </h6>
                    <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1 class="banner_taital">Top 5
                        <h1 class="banner_taital_1">Melhores Praias do Brasil</h1>
                        <p class="banner_text">
                                Descubra as praias mais deslumbrantes do Brasil.<br />
                                Com uma costa que se estende por milhares de quilômetros, o Brasil é o lar de algumas das praias mais belas do mundo.
                        </p>
                        <div class="read_bt"><a href="#">SAIBA MAIS</a></div>
                    </div>
                    <div class="carousel-item">
                        <h1 class="banner_taital">Top 5</h1>
                        <h1 class="banner_taital_1">Melhores Hoteis do Brasil</h1>
                        <p class="banner_text">
                            Descubra os cinco hotéis mais deslumbrantes do Brasil.<br/>
                            Onde o luxo e a beleza natural se encontram para proporcionar experiências inesquecíveis.
                        </p>
                        <div class="read_bt"><a href="#">SAIBA MAIS</a></div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner section end -->
    <!-- call_box section start -->

@* 
    <div class="call_box_section">
        <div class="container">
            <div class="call_box_left">
                <div class="box_main">
                    <div class="box_left">Call Now <br>For Clean</div>
                    <div class="box_left padding_top_10"><a href="#">+01 1234567890</a></div>
                </div>
            </div>
            <div class="call_box_right">
                <div class="get_quote_bt"><a href="#">Get A Quote</a></div>
            </div>
        </div>
    </div>
 *@


    <!-- call_box section end -->
    <!-- layout_bg section start -->
    <div class="layout_bg">
        <!-- services section start -->
        <div class="services_section layout_padding">
            <div class="container">
                <h1 class="services_taital">5 - Praia da Baía dos Golfinhos, Pipa – Rio Grande do Norte</h1>
                <div class="services_section_2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image_1"><img src="images/img-1.png"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="services_box">
                                <h2 class="pool_text">Praia da Baía dos Golfinhos</h2>
                                <p class="lorem_text">
                                    A Baía dos Golfinhos, situada na deslumbrante Praia da Pipa, é um verdadeiro tesouro entre os destinos turísticos do Brasil.
                                    Sua fama não é por acaso: a baía é um santuário de beleza natural exótica, onde golfinhos brincalhões fazem visitas frequentes,
                                    encantando todos que têm a sorte de presenciá-los. Para os amantes da natureza e entusiastas da vida marinha, a baía oferece uma oportunidade única de interação com o meio ambiente.
                                    Aqui, os visitantes podem se conectar com a essência do oceano, observando a graça dos golfinhos em seu habitat natural,
                                    um espetáculo que permanece na memória muito tempo após o retorno à rotina diária.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- services section end -->


     @*    ---------------- *@

        <!-- repair pool section start -->
        <div class="services_section layout_padding">
            <div class="container">
                <div class="row">
                    <h1 class="services_taital">4 - Praia do Patacho, São Miguel dos Milagres - Alagoas</h1>
                    <div class="col-md-8">
                        <div class="services_box">
                            <h2 class="pool_text">PRAIA DO PATACHO</h2>
                            <p class="lorem_text">
                                A Praia do Patacho é uma joia cintilante no município de Porto de Pedras, em Alagoas,
                                e é frequentemente mencionada lado a lado com a Praia da Lage por sua beleza hipnotizante.
                                O que realmente a distingue são as piscinas naturais que emergem durante a maré baixa,
                                criando um espetáculo aquático que captura a essência da natureza em sua forma mais pura.
                                Essas piscinas cristalinas são o palco de um mundo subaquático vibrante,
                                onde visitantes podem observar de perto a vida marinha em um ambiente sereno. 
                                A Praia do Patacho é também um santuário de tranquilidade,
                                com sua atmosfera pacífica preservada pelo fluxo moderado de visitantes. 
                                A facilidade de acesso à praia adiciona ao seu charme, convidando todos a desfrutar de suas águas mornas e areias douradas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image_1"><img src="images/img-2.png"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- repair pool section end -->
        <!-- swiming section start -->
        <div class="services_section layout_padding">
            <div class="container">
                <div class="row">
                    <h1 class="services_taital">3 - Baía dos Porcos, Fernando de Noronha - Pernambuco</h1>
                    <div class="col-md-4">
                        <div class="image_1"><img src="images/img-3.png"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="services_box">
                            <h2 class="pool_text">BAÍA DOS PORCOS</h2>
                            <p class="lorem_text">
                                A Praia do Forno é uma verdadeira obra-prima da natureza, um destaque incontestável entre as praias brasileiras e um dos tesouros de Arraial do Cabo. Sua menção é obrigatória em qualquer compilação das mais esplêndidas praias, graças à sua combinação única de areias alvas e águas de um azul profundo que se estendem até onde a vista alcança.
                                Para alcançar este paraíso, os visitantes são convidados a percorrer uma trilha encantadora que começa no final da Praia dos Anjos. Esta trilha, repleta de beleza natural e pontos de observação, oferece uma experiência imersiva na paisagem local. A subida, que dura cerca de 20 minutos, é uma preparação para o espetáculo que aguarda no topo.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- swiming section end -->
        <!-- repair pool section start -->
        <div class="services_section layout_padding">
            <div class="container">
                <div class="row">
                    <h1 class="services_taital">2 - Praia do Forno, Arraial do Cabo - Rio Janeiro</h1>
                    <div class="col-md-8">
                        <div class="services_box">
                            <h2 class="pool_text">PRAIA DO FORNO</h2>
                            <p class="lorem_text">
                                A Praia do Forno é uma das joias de Arraial do Cabo e uma presença obrigatória em qualquer lista das praias mais espetaculares do Brasil. Este pedaço do paraíso é conhecido por sua areia branca como a neve e suas águas cristalinas que refletem o céu azul.
                                O caminho para este retiro celestial começa na Praia dos Anjos, onde uma trilha sinuosa leva os visitantes através da vegetação nativa e oferece vistas deslumbrantes do litoral. A subida, que dura cerca de 20 minutos, é uma pequena aventura que prepara o espírito para as maravilhas que estão por vir.
                                No topo, um mirante acolhedor aguarda, com bancos posicionados perfeitamente para que os visitantes possam descansar e se deleitar com a vista panorâmica. A paisagem que se descortina é de tirar o fôlego.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image_1"><img src="images/img-4.png"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- repair pool section end -->
        <!-- swiming section start -->
        <div class="services_section layout_padding">
            <div class="container">
                <div class="row">
                    <h1 class="services_taital">1 - Baía do Sancho, Fernando de Noronha - Pernambuco</h1>
                    <div class="col-md-4">
                        <div class="image_1"><img src="images/img-5.png"></div>
                    </div>
                    <div class="col-md-8">
                        <div class="services_box">
                            <h2 class="pool_text">BAÍA DOS PORCOS</h2>
                            <p class="lorem_text">
                                A Baía do Sancho, situada no coração de Fernando de Noronha, é uma das praias mais aclamadas do Brasil, frequentemente encabeçando listas de destinos imperdíveis. Este santuário natural é um espetáculo para os sentidos, com sua areia branca imaculada e águas translúcidas que refletem um arco-íris de cores sob o sol tropical. As falésias que a circundam são um triunfo da natureza, cobertas por um manto verdejante que se ergue majestosamente acima do oceano.
                                A Baía do Sancho não é apenas um deleite visual; é um convite à exploração. Para os amantes do mergulho, as águas claras oferecem uma visão privilegiada dos recifes de coral, onde a vida marinha floresce em abundância. A visibilidade é tão cristalina que mesmo os detalhes mais sutis da vida subaquática podem ser admirados sem esforço, tornando cada mergulho uma aventura inesquecível.
                                Mas a Baía do Sancho oferece mais do que apenas beleza subaquática.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- swiming section end -->
        <!-- about section start -->
        <div class="about_section layout_padding">
            <div class="container">
                <div class="about_box">
                    <h1 class="about_taital">Considerações Finais</h1>
                    <p class="about_text">
                        A Baía do Sancho não é apenas uma praia; é um destino que conquista corações e almas. Vencedora em nosso blog, ela representa o ápice da beleza natural, um lugar onde o tempo parece parar e os problemas do mundo desaparecem com as ondas. As águas cristalinas, a areia branca e as falésias cobertas de vegetação compõem um cenário digno de cartão-postal, mas é a sensação de estar em um mundo à parte que faz dela a campeã.

                        A visita a essa baía é uma jornada que começa com a expectativa e termina com a realização plena. É um lembrete de que, em meio à agitação da vida moderna, existem lugares onde a simplicidade e a beleza ainda reinam. A Baía do Sancho é um desses raros lugares, um pedaço do paraíso que nos foi generosamente emprestado pela natureza.

                        Em suma, a Baía do Sancho é mais do que merecedora de todos os elogios e prêmios. Ela não é apenas uma praia entre muitas; é a praia que todos devem aspirar a visitar pelo menos uma vez na vida. E para aqueles que já tiveram o privilégio, é um lugar que chama para um retorno, prometendo sempre mais beleza e paz a cada visita.
                    </p>
                </div>
            </div>
        </div>
        <!-- about section end -->
    </div>
    <!-- layout_bg section end -->
    <!-- footer section start -->
    <div class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="footer_logo"><a href="index.html"><img src="images/logo.png"></a></div>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="Sobre.html">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contate-nos</a></li>
                        </ul>
                    </div>
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
                            <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h1 class="useful_text">E-mail</h1>
                    <input type="text" class="Enter_text" placeholder="Enter Your Email" name="Insira seu e-mail">
                    <div class="subscribe_bt"><a href="#">Enviar</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">
                Copyright 2024 All Rights Reserved.
                </a> Distributed by <a href="https://themewagon.com">Blog Viagens</a>
            </p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript -->
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        function openNav() {
           document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>

</html>